{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "no-console": "warn",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "react/no-unescaped-entities": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "eol-last": ["error", "always"],
    "@typescript-eslint/no-var-requires": 0
  }
}
